Test/LauncherForms/obj
Test/LauncherForms/bin
Test/LauncherForms/.vs
Test/LauncherPipes/obj
Test/LauncherForms/LauncherPipes/obj
Test/LauncherForms/LauncherPipes/bin
Test/.vs
Test/PipesClientConsole/bin
Test/PipesClientConsole/obj
Test/PipesServerConsole/bin
Test/PipesServerConsole/obj
Test/PipesServerConsole2/bin
Test/PipesServerConsole2/obj
